@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.Call{
    position: absolute;
    top: -40px;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.Inteligencia{
    position: absolute;
    top: 10%;
    left: 32%;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.info{
    position: absolute;
    top: 24%;
    left: 32%;
    right: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 150;
}

.imagen1{
    position: absolute;
    top: 45%;
    right: 70%;
}
.imagen2{
    position: absolute;
    top: 45%;
    right: 10%;
}
.imagen3{
    position: absolute;
    top: 45%;
    right: 40%;
}
.llamadas{
    position: absolute;
    top: 75%;
    left: 9.2%;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.encuesta{
    position: absolute;
    top: 75%;
    left: 39.2%;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.volumen{
    position: absolute;
    top: 75%;
    left: 69.7%;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.ver{
    position: absolute;
    top: 80%;
    left: 9.2%;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}

.podras{
    position: absolute;
    top: 80%;
    left: 39.3%;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}

.aqui{
    position: absolute;
    top: 80%;
    left: 69.9%;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}
