<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<div class="Call"><p>Call Center</p></div>
<div class="Inteligencia"><p>Inteligencia Negocios</p></div>
<div class="info"><p>Esta información se utiliza para tomar decisiones empresariales <br> informadas, mejorar la eficiencia operativa</p></div>

<a [routerLink]="['/llamadas']">
<img src="../../assets/1.jpeg" alt="" class="imagen1" style="width: 320px; height: 200px;"></a>
<a [routerLink]="['/encuesta']">
<img src="../../assets/2.jpeg" alt="" class="imagen2" style="width: 320px; height: 200px;"></a>
<a [routerLink]="['/ventas']">
<img src="../../assets/3.jpeg" alt="" class="imagen3" style="width: 320px; height: 200px;"></a>

<div class="llamadas">Llamadas</div>
<div class="ver">Aqui se podra ver todo el registro de llamadas del call <br>center</div>
<div class="encuesta">Encuesta de satisfaccion</div>
<div class="podras">Aqui podras ver como le ha ido a cada uno de tus <br> agentes en cuanto a satisfaccion</div>
<div class="volumen">Volumen de ventas</div>
<div class="aqui">Aqui se muestra el volumen de ventas por agente</div>